footer {
    position: absolute;
    bottom: 20px;
    color: #fff;
    display: flex;
}
.footer__info {
    width: 400px;
}
.footer__item {
    margin-bottom: 8px;
}
.footer__link {
    color: #fff;
    text-decoration: none;
}
.footer__contact {
    margin-bottom: 8px;
}